<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Document</title>
    <script src="/static/js/public.js"></script>
    <script>
        window.onload=function(){
            resize(750);
        }
    </script>
    <style>
        body{
            text-align: center;
            font-size:0.7rem;
        }
        p{
            font-size:1rem;
            margin-top:3rem;
        }
        a{
            color:blue;
            font-size:0.8rem;
        }
    </style>
</head>
<body>
    <!--<h1><%=title%></h1>-->
    <!--<p><%=con%></p>-->
    <p>用户名已存在</p>
    <a href="<%=url%>">跳转</a>到注册页面
</body>
</html>